// Very Large screens
body {
  width: $body-width-large;
  margin: 0 auto;
}

footnote {
  display: block;
  margin-bottom: 15px;
  font-size: $small-font-size;
  color: $text-color;
}

#header {
  position: fixed;
  height: 100%;
  width: $header-width-large;
  padding: $spacing-unit;

  ul {
    list-style: none;
    margin-left: 0;
  }

}

#main {
  position: relative;
  height: 100%;
  margin-left: $header-width-large + $spacing-unit;
  padding: $spacing-unit;
  width: $content-width-large;
}

@include media-query($large-screen) {
  body {
    width: $body-width-medium;
  }

  #header {
    width: $header-width-medium;
    padding: $spacing-unit $spacing-unit / 2;
  }

  #main {
    margin-left: $header-width-medium + $spacing-unit / 2;
    width: $content-width-medium;
    padding: $spacing-unit $spacing-unit / 2;
  }
}

@include media-query($medium-screen) {
  body {
    width: $small-screen;
  }

  #header {
    position: relative;
    width: $content-width-medium;
    padding: $spacing-unit $spacing-unit / 2 $spacing-unit / 2;

    ul {
      list-style-type: disc;

      li {
        display: inline;

        &:not(:first-child)::before {
          content: "- ";
        }
      }
    }
  }

  #main {
    margin-left: 0;
    width: $content-width-medium;
    padding: $spacing-unit / 2;
  }
}

@include media-query($small-screen) {
  body {
    width: $small-screen;
  }

  #header {
    position: relative;
    width: $content-width-small;
    padding: $spacing-unit $spacing-unit / 3 $spacing-unit / 3;
  }

  #main {
    margin-left: 0;
    width: $content-width-small;
    padding: $spacing-unit / 3;
  }
}

#header {
  a {
    color: $text-color;
    &:hover {
      color: $link-color;
    }
  }

  img.rss {
    width: 16px;
    height: 16px;
  }
}
