// Very Large screens
body {
  width: $large-screen;
  margin: 0 auto;
}

#header {
  position: fixed;
  height: 100%;
  width: $header-width-large;
  padding: $spacing-unit;

  ul {
    list-style: none;
    margin-left: 0;
  }

}

#main {
  position: relative;
  height: 100%;
  margin-left: $header-width-large + $spacing-unit;
  padding: $spacing-unit;
  width: $content-width-large;
}

@include media-query($large-screen) {
  body {
    width: $medium-screen;
  }

  #header {
    width: $header-width-medium;
    padding: $spacing-unit $spacing-unit / 2;
  }

  #main {
    margin-left: $header-width-medium + $spacing-unit / 2;
    width: $content-width-medium;
    padding: $spacing-unit $spacing-unit / 2;
  }
}

@include media-query($medium-screen) {
  body {
    width: $small-screen;
  }

  #header {
    position: relative;
    width: $content-width-medium;
    padding: $spacing-unit $spacing-unit / 2 $spacing-unit / 2;

    ul {
      list-style-type: disc;

      li {
        display: inline;

        &:not(:first-child)::before {
          content: "- ";
        }
      }
    }
  }

  #main {
    margin-left: 0;
    width: $content-width-medium;
    padding: $spacing-unit / 2;
  }
}

@include media-query($small-screen) {
  body {
    width: $small-screen;
  }

  #header {
    position: relative;
    width: $content-width-small;
    padding: $spacing-unit $spacing-unit / 3 $spacing-unit / 3;
  }

  #main {
    margin-left: 0;
    width: $content-width-small;
    padding: $spacing-unit / 3;
  }
}

#header {
  a {
    color: $text-color;
    &:hover {
      color: $link-color;
    }
  }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

/**
 * Page content
 */
.page-content {
}

.page-heading {
    font-size: 20px;
}
