@charset "utf-8";


// Our variables
$base-font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #111;
$link-color:       lighten($text-color, 40%);
$footnote-color:   lighten($text-color, 20%);
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$xlarge-screen: 1800px;
$large-screen: 1280px;
$medium-screen: 980px;
$small-screen: 736px;
$xsmall-screen: 480px;

$spacing-unit:  30px;

// Width of the content area
$content-width-large: 800px;
$header-width-large:  300px;
$body-width-large: $content-width-large + $header-width-large + 3*$spacing-unit;

$content-width-medium: 700px;
$header-width-medium:  235px;
$body-width-medium: $content-width-medium + $header-width-medium + 3/2*$spacing-unit;

$content-width-small: 460px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
